<div class = "top_main">
	<h1 class = "top_title">ようこそ<strong>Bookers</strong>へ!</h1>
</div>

<div class = "top_sub">
	<p class = "top_text">
		<strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や<br>
		印象を共有し交換することができます
	</p>
</div>
<p class = "top_link">
<%=link_to "start", books_path %>
</p>